.section-announcement {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  line-height: 1;
}

.announcement-bar {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-body-family);
  letter-spacing: var(--letter-spacing-body);
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 1;
  position: relative;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* This is the shine effect that only appears when not using theme colors */
.announcement-bar.gradient-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: shine 3s infinite;
}

@keyframes shine {
  0% { left: -100%; }
  100% { left: 200%; }
}

.countdown {
  display: flex;
  align-items: center;
  gap: 3px;
  white-space: nowrap;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 3px;
  min-width: 26px;
  font-weight: var(--font-weight-semibold) !important;
}

.separator {
  font-size: 9px;
  font-weight: var(--font-weight-bold);
  margin: 0 -1px;
}

.announcement-text {
  white-space: nowrap;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: var(--font-weight-semibold) !important;
}

@media screen and (min-width: 769px) {
  .announcement-bar {
    padding: 8px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px !important;
    gap: 17px;
  }

  .countdown-item {
    min-width: 32px;
    padding: 2px 1px !important;
    margin: 1px;
  }

  .countdown {
    gap: 2px;
  }

  .time {
    font-size: 16px !important;
  }

  .label {
    font-size: 9px !important;
    margin-top: 2px !important;
    letter-spacing: var(--letter-spacing-body);
  }

  .label-smaller {
    font-size: 9px !important;
  }

  .separator {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .announcement-bar {
    font-size: 9px;
    padding: 8px 0px;
  }

  .countdown-item {
    min-width: 24px;
  }

  .separator {
    font-size: 9px;
  }
  
  .time {
    font-size: 12px !important;
  }
  
  .label {
    font-size: 10px !important;
    margin-top: 1px !important;
  }
} 