/*GB! "free-product-progress-bar" STARTS*/
.free-product-progress-bar {
    position: relative;
}
.free-shipping-main {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.free-product-progress-bar {
    color: rgb(var(--color-foreground));
    font-size: 15px;
    font-family: DINNextW01-CondensedBold;
    font-style: normal;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.free-product-progress-bar progress#file {
    width: 100%;
}
.free-product-progress-bar-successfull {
    text-align: center;
    padding: 5px 0 20px;
    color: var(--cart-drawer-accent-color);
    font-size: 16px;
    font-family: DINNextW01-CondensedBold;
    font-style: normal;
}
cart-drawer.gb-cart-drawer.is-empty .free-product-progress-bar-main {
    display: none;
}
/* background: */
.free-product-progress-bar-main span {
   /*height: 15px;*/
    position: relative;
    top: 1.5px;
}
.free-shipping-main svg {
    width: 45px;
    height: 45px;
    background: #e9e9e9 !important;
    border-radius: 50px;
    padding: 6px;
}
.free-gift-main {
    position: absolute;
    /*left: 0;*/
    right: 0;
    /*text-align: center;*/
    margin: auto;
    margin-top: 10px;
}
.free-product-progress-bar-main {
    padding-bottom: 40px;
}
.free-gift-main svg {
    width: 45px;
    height: 45px;
    background: #e9e9e9 !important;
    border-radius: 50px;
    padding: 6px;
}
.free-gift-main.free-gift-main-color svg {
   background: var(--cart-drawer-progress-active-color);
}
.free-gift-main.free-gift-main-color svg path {
    fill: var(--cart-drawer-progress-active-icon-fill-color);
}
.free-shipping-main.free-shipping-main-color svg {
    background: var(--cart-drawer-progress-active-color);
}
.free-shipping-main.free-shipping-main-color svg path {
    fill: var(--cart-drawer-progress-active-icon-fill-color);
}
.free-shipping-main.free-shipping-main-color svg circle {
    fill: var(--cart-drawer-progress-active-icon-fill-color);
}
.free-product-progress-bar-main progress::-webkit-progress-bar {background-color: #e9e9e9 !important; width: 100%; border-radius: 50px; height: 12px;}
.free-product-progress-bar-main progress {background-color: #e9e9e9 !important; border-radius: 50px; height: 12px;}
/* value: */
.free-product-progress-bar-main progress::-webkit-progress-value {background-color: #121212 !important; border-radius: 50px; height: 12px;}
.free-product-progress-bar-main progress::-moz-progress-bar {background-color: #121212 !important; border-radius: 50px; height: 12px;}
.free-product-progress-bar-main progress {color: #121212;}

h2.drawer__heading {
    gap: 10px;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
}
span.gb-cart-total-item {
    background: #000;
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    bottom: .8rem;
    left: 2.2rem;
    line-height: calc(1 + .1 / var(--font-body-scale));
}
.cart-drawer .cart-item {
    border: 1px solid #E2E2E2;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.quantity__input {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}
.totals.gb-discounts-cart-values {
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
}
.totals.gb-discounts-cart-values h2 {
    font-weight: bold;
    font-size: 20px;
}
.drawer__inner .quantity {
    width: calc(10rem / var(--font-body-scale) + var(--inputs-border-width)* 2) !important;
}
.drawer__inner {
  width: 48rem !important;
}
.drawer__inner.gradient .quantity__button {
    width: calc(2.5rem / var(--font-body-scale)) !important;
}
.drawer__inner .quantity {
    min-height: calc((var(--inputs-border-width)* 2) + 3rem);
}
.drawer__inner quantity-input.quantity.cart-quantity {
    border: 1px solid #E2E2E2;
    border-radius: 4px;
}
.drawer__inner .quantity:after {
      box-shadow: unset !important;
} 
.cart-item__quantity-wrapper {
    place-content: space-between;
}
.gb-price-drawer-saving {
    display: block;
    width: 100%;
}
.cart-item__quantity-wrapper.quantity-popover-wrapper .product-option {
    text-align: center;
}
.gb-price-drawer s {
    font-size: 16px !important;
    font-weight: bold;
}
.gb-price-drawer {
    font-size: 16px !important;
    font-weight: bold;
}
.gb-price-drawer strong {
    font-size: 16px !important;
    font-weight: bold;
}
.gb-price-drawer-saving {
    display: block;
    width: 100%;
    background: #FFD2D2;
    color: #FF1717;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 50px;
}
.gb-get-main-freq-pro  .price__container {
    vertical-align: unset !important;
    margin-bottom: 0 !important;
}
gbvariant-selects {
    display: flex;
    gap: 15px;
    margin: 0 !important;
}
select.select__select.gb-change-variant_id {
    height: 2rem;
    font-size: 10px !important;
    letter-spacing: var(--letter-spacing-body) !important;
    font-weight: var(--font-weight-semibold) !important;
}
gbvariant-selects .product-form__input {
    flex: unset !important;
    padding: 0 !important;
    margin: 0;
    max-width: max-content;
    min-width: auto;
    border: none;
    margin: 0 !important;
}
.cart-drawer .cart-items td {
    padding-top: 0;
}
.gb-get-main-freq-pro  .price-item--regular {
     font-size: 16px !important; 
}
.gb-get-main-freq-pro  .price .price-item {
    margin: 0 0.2rem 0 0 !important;
    font-weight: var(--font-weight-semibold) !important;
    letter-spacing: var(--letter-spacing-body) !important;
}
.gb-get-main-freq-pro span.price-item {
    font-size: 16px !important;
    letter-spacing: var(--letter-spacing-body) !important;
}
.drawer__inner .cart-item cart-remove-button {
    margin-left: 0rem;
}
.cart-drawer .cart-item {
    position: relative;
}
td.cart-item__totals_gb.right {
    padding-left: 0 !important;
    width: 10%;
    display: flex;
    justify-content: left;
    float: right;
    position: absolute;
    right: 0;
    top: 15px;
}
.cart-drawer .cart__checkout-button {
    border-radius: 8px !important;
    font-size: 17px;
    padding: 15px 0;
}
.gbfrequently-bought-with-main-whole-slider {
    opacity: 0;
}
.cart-drawer .cart__checkout-button:hover:after  {
    box-shadow: unset !important;
}
.cart-drawer .cart__checkout-button:after  {
    box-shadow: unset !important;
}
.cart-drawer .cart__checkout-button:before  {
    box-shadow: unset !important;
}
h2.gb-30day-back {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
    margin-bottom: 9px;
    letter-spacing: var(--letter-spacing-body);
    font-weight: var(--font-weight-regular) !important;
    align-items: center;
}
.drawer__footer {
    padding-bottom: 0;
}
.gb-shipping-protection {
    display: flex;
    gap: 18px;
    align-items: center;
}
.gb-shipping-protection-icontext h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-bottom: 3px;
}
.gb-shipping-protection-icontext p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 14px;
    padding-right: 20px;
}
.gb-shipping-protection-icon svg {
    width: 50px;
    height: 50px;
}
.gb-shipping-protection-icon {
    display: flex;
}
.gb-shipping-protection {
    background: #F1F1F1;
    padding: 20px 20px;
    border: 1px solid;
    border-radius: 4px;
    border-style: dotted;
}
.gb-shipping-protection-button .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.gb-shipping-protection-button .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.gb-shipping-protection-button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.gb-shipping-protection-button .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.gb-shipping-protection-button input:checked + .slider {
  background-color: #000000;
}

.gb-shipping-protection-button input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

.gb-shipping-protection-button input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.gb-shipping-protection-button .slider.round {
  border-radius: 34px;
}

.gb-shipping-protection-button .slider.round:before {
  border-radius: 50%;
}
td.cart-item__details a.cart-item__name {
    font-size: 19px;
}
section.gb-get-main-freq-pro .page-width {
    padding: 0 !important;
}
.free-product-progress-bar-successfull {
    font-family: var(--font-body-family);
    font-size: 19px;
    font-weight: var(--letter-spacing-body);
}
.gb-master-media-cart {
  width: 100%;
}
.gb-cart-price-add {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.gb-cart-price-add h2.product__title {
    width: 70%;
}
.gb-set-padding-cart-btn {
    min-width: 0;
    min-height: 0;
    padding: 4px 15px;
    border-radius: 4px !important;
}
.gb-cart-drawer-fren {
    width: 30%;  
    text-align: right;
}
.gb-cart-drawer-fren product-form.product-form {
    margin: 0;
}
.gb-get-main-freq-pro .product__info-wrapper {
    padding: 0;
}
.gb-cart-drawer-fren .product-form__submit {
    margin-bottom: 0;
}
.gb-set-padding-cart-btn:before {
  border-radius: unset !important;
  box-shadow:  unset !important;
}
.gb-get-main-freq-pro .grid__item.product__media-wrapper {
    width: 0%;
}
.gb-get-main-freq-pro h2.product__title {
    font-size: 19px;
}
.gb-cart-price-add .product__title {
    margin: 0;
    padding: 0;
}
.gb-get-main-freq-pro  .featured-product {
    align-items: center;
    gap: 20px  !important;
}
.gb-set-padding-cart-btn:after {
  border-radius: unset !important;
  box-shadow:  unset !important;
}
gbvariant-selects label.form__label {
    display: none;
}
.drawer__cart-items-wrapper .product-option+.product-option {
    margin-top: 0;
}
.drawer__cart-items-wrapper .product-option {
    font-size: 16px;
    font-weight: 600;
}
td.cart-item__details dl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
        gap: 4px;
        max-width: 200px;
}
h2.frequently-bought-with-main-title {
    font-size: 16px;
    letter-spacing: var(--letter-spacing-body) !important;
    margin-top: 0;
    padding-top: 5px;
}
.cart-drawer .cart-item__image {
    max-width: 100%;
    border-radius: 5px !important;
}
.gbfrequently-bought-with-main-whole {
    padding-bottom: 20px;
}
img.gb-master-media-cart {
    border-radius: 4px;
}
product-info.gb-main-freq-bg-color {
    background: #EDEDED;
    padding: 20px 15px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
}
.gb-get-main-freq-pro span.gb-price-drawer-saving {
    display: inline;
        vertical-align: middle;
}
.drawer__inner {
     overflow-y: scroll !important;
     overflow-x: hidden;
  }
  cart-drawer-items {
    overflow: unset;
}
@media only screen and (max-width: 768px) {
  .drawer__inner {
      max-width: calc(100vw - 0rem);
  }
}
/*@media screen and (max-height: 650px) {
 .drawer__inner {
     overflow-y: scroll !important;
     overflow-x: hidden;
  }
}*/
.gb-get-main-freq-pro .select .svg-wrapper {
    right: 8px;
}
.cart-drawer .cart-item {
    padding: 15px 10px 6px;
}
.gb-cart-drawer-lb td.cart-item__details a.cart-item__name {
    font-size: 17px;
}
.gb-cart-drawer-lb .gb-get-main-freq-pro h2.product__title {
    font-size: 17px;
}
.gb-cart-drawer-lb .gb-cart-drawer-fren .product-form__submit {
    font-size: 12px !important;
    font-weight: var(--font-weight-semibold) !important;
}
.gb-cart-drawer-lb .drawer__cart-items-wrapper .product-option {
    font-size: 12px;
}
.gb-cart-drawer-lb product-info.gb-main-freq-bg-color {
    padding: 15px 10px;
}
.gb-cart-drawer-lb .gb-shipping-protection {
    padding: 16px;
}
.gb-cart-del-img img {
    width: 100%;
    height: auto;
}
.gb-get-main-freq-pro  .price.price--large.price--on-sale.price--show-badge {
    padding: 10px 0;
}
@media only screen and (max-width: 767px) {
  .gb-get-main-freq-pro .featured-product {
      align-items: flex-start;
      gap: 16px!important;
      display: grid;
      grid-template: repeat(1,auto) / repeat(2,auto);
  }
  .gb-get-main-freq-pro .grid__item.product__media-wrapper {
      width: 100%;
  }
  img.gb-master-media-cart {
      width: 86px;
      height: 86px;
  }
  td.cart-item__totals_gb.right {
      right: 20px;
  }
  .gb-get-main-freq-pro h2.product__title {
      font-size: 18px;
  }
  .gb-cart-drawer-fren {
      width: 33%;
  }
  .gb-cart-drawer-lb .gb-get-main-freq-pro .price-item--regular {
      font-size: 13px!important;
  }
  .gb-cart-drawer-lb .gb-get-main-freq-pro span.price-item {
      font-size: 13px!important;
  }
  .gb-cart-drawer-lb .product__info-container>*+* {
    margin: 0.1rem 0 0.5rem;
  }
  .gb-cart-drawer-lb .gb-price-drawer s, .gb-cart-drawer-lb .gb-price-drawer, .gb-cart-drawer-lb .gb-price-drawer strong {
      font-size: 13px!important;
  }
  .gb-cart-drawer-lb h2.drawer__heading {
      font-size: 13px;
  }
  .gb-cart-drawer-lb span.gb-cart-total-item {
      font-size: 13px;
  }
  .gb-cart-drawer-lb .free-product-progress-bar-successfull {
      font-size: 11px;
      font-weight: 100;
  }
  .gb-cart-drawer-lb td.cart-item__details a.cart-item__name {
      font-size: 13px;
  }
  .gb-cart-drawer-lb .gb-get-main-freq-pro h2.product__title {
      font-size: 14px;
  }
  .gb-cart-drawer-lb .gb-cart-drawer-fren .product-form__submit {
      font-size: 11px !important;
  }
  .gb-cart-drawer-lb .drawer__cart-items-wrapper .product-option {
      font-size: 11px !important;
  }
  .gb-cart-drawer-lb .gb-price-drawer-saving {
      font-size: 9px;
      font-weight: var(--font-weight-semibold);
  }
  .gb-cart-drawer-lb .gb-shipping-protection {
      padding: 5px;
  }
  .gb-cart-drawer-lb h2.frequently-bought-with-main-title {
      font-size: 15px;
  }
  .gb-cart-drawer-lb .gb-shipping-protection-icontext h2 {
      font-size: 15px;
  }
  .gb-cart-drawer-lb .totals.gb-discounts-cart-values h2 {
      font-size: 15px;
  }
  .gb-cart-drawer-lb .totals__total-value {
      letter-spacing: var(--letter-spacing-body);
      font-weight: var(--font-weight-bold) !important;
  }
  .gb-cart-drawer-lb.cart-drawer .cart__checkout-button {
      font-size: 14px;
      font-weight: var(--var-font-weight-bold) !important;
      padding: 15px 0;
  }
  .gb-cart-drawer-lb.cart-drawer .cart-item:last-child {
      margin-bottom: 1rem;
  }
  .gb-get-main-freq-pro  .price.price--large.price--on-sale.price--show-badge {
      padding: 0px 0;
  }
}
@media only screen and (max-width: 375px) {
  .gb-price-drawer-saving {
      font-size: 9px;
  }
  .cart-item__quantity-wrapper {
      gap: 5px;
      flex-wrap: unset;
  }
  img.gb-master-media-cart {
      width: 70px;
      height: 70px;
  }
  .gb-cart-drawer-fren {
      width: 39%;
  }
  .gb-cart-drawer-fren {
      width: 54%;
  }
}
@media only screen and (max-width: 320px) {
  img.gb-master-media-cart {
      width: 55px;
      height: 55px;
  }
}


/*GB! "free-product-progress-bar" ENDS*/