/* Global Heading Styles */

/* Apply global typography settings to all heading elements */
h1, h2, h3, h4, h5, 
.h0, .h1, .h2, .h3, .h4, .h5 {
  color: rgb(var(--color-text));
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: var(--letter-spacing-heading);
  line-height: calc(1 + 0.3 / var(--font-heading-scale));
  margin: 0;
}

/* Heading size variations */
h1, .h1 {
  font-size: calc(var(--font-heading-scale) * 3.2rem);
}

h2, .h2 {
  font-size: calc(var(--font-heading-scale) * 2.6rem);
}

h3, .h3 {
  font-size: calc(var(--font-heading-scale) * 2.2rem);
}

h4, .h4 {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

h5, .h5 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.h0 {
  font-size: calc(var(--font-heading-scale) * 3.8rem);
}

.hxl {
  font-size: calc(var(--font-heading-scale) * 4.2rem);
}

.hxxl {
  font-size: calc(var(--font-heading-scale) * 5rem);
}

/* Responsive adjustments */
@media screen and (min-width: 750px) {
  h1, .h1 {
    font-size: calc(var(--font-heading-scale) * 3.6rem);
  }
  
  h2, .h2 {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }
  
  h3, .h3 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
  
  h4, .h4 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
  
  h5, .h5 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
  
  .h0 {
    font-size: calc(var(--font-heading-scale) * 4.6rem);
  }
  
  .hxl {
    font-size: calc(var(--font-heading-scale) * 5.2rem);
  }
  
  .hxxl {
    font-size: calc(var(--font-heading-scale) * 6rem);
  }
}

/* Password page specific overrides */
.email-signup-banner__heading {
  color: rgb(var(--color-text));
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: var(--letter-spacing-heading);
  line-height: calc(1 + 0.3 / var(--font-heading-scale));
}

.password-main .newsletter__subheading {
  color: rgb(var(--color-text));
  letter-spacing: var(--letter-spacing-body);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

.shopify-section-template--17905978671257__main .email-signup-banner__box {
  color: rgb(var(--color-text));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  letter-spacing: var(--letter-spacing-body);
}

.password-main .newsletter__wrapper {
  background-color: var(--global-section-bg-color);
}

.password-main .newsletter__wrapper.email-signup-banner__box {
  color: rgb(var(--color-text));
}

.newsletter__wrapper input.field__input {
  color: rgb(var(--color-text));
  background-color: var(--global-section-bg-color);
  border-color: rgba(var(--color-foreground), 0.3);
}

.newsletter__wrapper input.field__input:focus {
  color: rgb(var(--color-text));
}

.newsletter__wrapper .newsletter-form__button {
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-button));
}

.newsletter__wrapper .field__label {
  color: var(--global-section-text-color);
} 