.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 1rem;
  width: auto;
  min-width: fit-content;
  min-width: -moz-fit-content;
  padding-left: -rem;
  padding-right: 2rem;
  padding-top: var(--global-button-padding-y);
  padding-bottom: var(--global-button-padding-y);
  font-size: var(--global-button-font-size);
  font-weight: var(--global-button-font-weight);
  letter-spacing: var(--global-button-letter-spacing);
  text-transform: var(--global-button-text-transform);
  border-radius: var(--buttons-radius);
}

@media screen and (min-width: 750px) {
  .contact__button {
    width: fit-content;
    width: -moz-fit-content;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
