.section-main-account-dynamic-padding {
  padding-top: var(--main-account-padding-top, 0px);
  padding-bottom: var(--main-account-padding-bottom, 0px);
}

@media screen and (min-width: 750px) {
  .section-main-account-dynamic-padding {
    padding-top: var(--main-account-padding-top-desktop, 0px);
    padding-bottom: var(--main-account-padding-bottom-desktop, 0px);
  }
} 